<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/foc.css">
</head>
<body>
    <section class="hScroll">
        <div class="hScroll_block">
          <div class="background"></div>
          <span class="letter">F</span>
        </div>
        <div class="hScroll_block">
          <div class="background"></div>
          <span class="letter">O</span>
        </div>
        <div class="hScroll_block">
          <div class="background"></div>
          <span class="letter">C</span>
        </div>
        <div class="hScroll_block">
          <div class="background"></div>
          <span class="letter">U</span>
        </div>
        <div class="hScroll_block">
          <div class="background"></div>
          <span class="letter">S</span>
        </div>
    </section>
</body>
</html>