body{
    height: 100%;
    padding: 0;
    margin: 0%;
    width: 100%;
    overflow-x: scroll;
}

body ::-webkit-scrollbar{
    width: 0;
}

.content{
    margin: 0;
    height: 90%;
    position:absolute;
    min-width: 200%;
    background-color: black;
    overflow-y: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: nowrap;
}

.items{
    position: relative;
    min-height: 20%;
    width:200%;
    background-color: black;
}

.Inicio{
    background-color: blue;
    height: 100%;
    width: 100%;
}

.Nosotros{
    background-color: blueviolet;
    height: 100%;
    width: 100%;
}