* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  overflow: hidden;
  display: flex;
}

section.hScroll {
  height: 100vw;
  width: 100vh;
  padding: 20px;
  background: #222;
  overflow: hidden auto;
  transform-origin: right top;
  transform: rotate(-90deg) translateY(-100vh);
}

.hScroll_block {
  width: calc(100vh - 40px);
  height: calc(100vh - 40px);
  background: pink;
  margin-bottom: 20px;
  position: relative;
  transform-origin: left top;
  transform: rotate(90deg) translateY(calc(-100vh + 40px));
}

.hScroll_block:last-child {
  margin: 0;
}


.hScroll_block:nth-child(1) .background {
  background: url(https://source.unsplash.com/category/nature/1024x758) #F91714;
}

.hScroll_block:nth-child(2) .background {
  background: url(https://source.unsplash.com/category/travel/1024x758) #7BB254;
}

.hScroll_block:nth-child(3) .background {
  background: url(https://source.unsplash.com/category/Architecture/1024x758) #0EDEF8;
}

.hScroll_block:nth-child(4) .background {
  background: url(https://source.unsplash.com/category/Interiors/1024x758) #FF7463;
}

.hScroll_block:nth-child(5) .background {
  background: url(https://source.unsplash.com/category/Technology/1024x758) #C251F1;
}



section.hScroll .hScroll_block .background {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background-size: cover;
  background-position: center center;
  background-blend-mode: luminosity;
}

.hScroll_block .letter {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  font-weight: bold;
  color: white;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}